/Even1.class
/Even10.class
/Fact1to10.class
/Factorial.class
/Mulno.class
/Numbers.class
/Numbers10.class
/Odd1.class
/Odd10.class
/Prime1.class
/Primew.class
/Print.class
/Printno.class
/String1.class
/String11.class
/Sum.class
/Sumno.class
/Switch.class
/Switch11.class
